/* Add your CSS code below */

a:link {
  text-decoration: none;
}
a:link {
  font-weight: bold;
}
a:link {
  color: red;
}
.message__time {
  font-size: 0.9rem;
}
.message--unread {
  border-left-style: solid;
  border-color: blue;
}
.message {
  opacity: 0.5;
}
.message__content {
  line-height: 1.8;
}
